= render 'devise/shared/wrapper' do
  h2 Sign up

  = content_for :form do
    = simple_form_for resource,
            as: resource_name,
            url: registration_path(resource_name) do |f|

      = invisible_captcha

      = f.input :email,
              required: true,
              autofocus: true,
              input_html: { autocomplete: 'email', pattern: Devise.email_regexp }
      = f.input :password,
              required: true,
              placeholder: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
              input_html: { autocomplete: 'new-password', minlength: Devise.password_length.min, maxlength: Devise.password_length.max }
      = f.input :password_confirmation,
              required: true,
              input_html: { autocomplete: 'new-password', minlength: Devise.password_length.min, maxlength: Devise.password_length.max }

      = f.input :privacy_policy,
              required: true,
              as: :boolean

      = render Button::SubmitFormComponent.new(f) do
        = render Icon::Devise::RegistrationComponent.new
